# ===== =    = ===== ==   == ===== ===== =   =
#   =   ====== ===   = === =   =   ===   =====
#   =   =    = ===== =  =  = ===== =       =
# 
#           Themify 2 - dev build 1
#               Dook  2024
#                CC-BY-SA
#
#         Thanks for using Themify! 
#-----------------------------------------------#
wps: /.rockbox/wps/themify.wps
sbs: /.rockbox/wps/themify.sbs
font: /.rockbox/fonts/22-LeagueSpartan-Regular.fnt
iconset: /.rockbox/icons/themify.bmp
viewers iconset: /.rockbox/icons/themify_viewers.bmp
show icons: on
backdrop: -
selector type: bar (color)
foreground color: 393939
background color: ffffff
line selector start color: 483737
line selector text color: f5eaea
ui viewport: -
statusbar: off
scroll speed: 14
scroll delay: 1500
scroll step: 1
